.Game {
    height: 100%;
    width: 100%;
    background-image: url('../background/galaxy3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
   text-align: center;
}

.back-to-home {
    position: absolute;
    left: 20px;
    top: 20px;
}

.back-btn {
    font-size: 20px;
    padding: 8px 12px;
    color: #dadada;
    background: transparent;
    outline: none;
    border: none;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    cursor: pointer;
}

.back-btn:hover {
    color: #fff;
    background: rgba(0,0,0,0.6);
}

.title {
    font-size: 28px;
    font-weight: 600;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: red;
    margin-bottom: 50px;

    span {
        font-size: 50px;
        color: #fff;
        font-weight: 600;
    }
}


.turn {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 36%;
}

.score {
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
}

.player {
    position: absolute;
    top: -10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name {
    width: 70%;
    height: 100%;
    margin: 0px 6px;
}

.change-name {
    padding: 3px 4px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.name {
    margin-right: 14px;
}

.player-1 {
    right: 0;
    margin-right: 38px;

    .player-1--X {
        color: #ff4200;
        font-size: 90px;
        font-weight: 900;
        -webkit-text-stroke: thin;
        -webkit-text-stroke-color: #000;
    }
}

.player-2 {
    left: 0;
    margin-left: 38px;

    .player-2--O {
        color: #f6ff00d9;
        font-size: 90px;
        font-weight: 900;
        -webkit-text-stroke: thin;
        -webkit-text-stroke-color: #000;
    }
}

.my-turn {
    border: 1px solid #fff;
    color: #fff;
}

.my-turn::before {
    content: "Your turn";
    position: absolute;
    top: -40px;
    right: 10px;
    font-size: 16px;
    color: #fff;
    animation: arrow 2s linear infinite;
}

.my-turn::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 10px;
    border: 22px solid;
    border-color: red transparent transparent;
    animation: arrow 2s linear infinite;
    border-radius: 5px;
}


.footer {
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

.reset-game {
    margin-top: 10px;
    padding: 12px 27px;
    outline: none;
    border-radius: 20px;
    border: navajowhite;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-image: linear-gradient(45deg, #f2a3ff, #a266e4);
    cursor: pointer;

    &:hover {
        border: 1px solid #ccc;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(-15px);
        
    }
}

// Mobile 
@media (max-width: 740px) {
    .content {
        height: 100%;
    }

    .title {
        display: none;
        margin-bottom: 0;
    }

    .turn {
        top: 8%;
    }

    .my-turn::after {
        top: -26px;
        left: 15px;
        border: 18px solid;
        border-color: red transparent transparent;
    }

    .my-turn::before {
        top: -28px;
        right: 15px;

    }

    .player {
        font-size: 16px;
        display: block;
    }

    .player-1--X {
        max-height: 76px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px !important;
    }

    .player-2--O {
        max-height: 76px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px !important;
    }

    .score {
        font-size: 18px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .back-to-home {
        left: 5px;
        top: 10px;
    }

    .back-btn {
        font-size: 24px;
    }

}