.cell {
    width: 32%;
    height: 32%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #838383;
    cursor: pointer;
}   

.value {
    font-size: 90px;
    font-weight: 900;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: #000;
}

.this-is-X {
    color: #ff4200;

}

.this-is-O {
    color: #f6ff00d9;
} 