.board {
    width: 400px;
    height: 400px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 15px 10px #dadada;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
